.img-box {
	column-count: 4;
	column-gap: 0;
	width: 80%;
	max-width: 1400px;
	margin: auto;
}
.image{
	max-width: 100%;
	display: block;
}
.img-wrapper{
	display: block;
	opacity: 0.8;
	transition: 0.2s;
	filter: blur(10px);
}
.img-wrapper+ .img-wrapper {
	margin:3px 0;
}
.img-wrapper:hover {
	opacity: 1;
	filter: brightness(1);
	/*filter:sepia(1.3);*/
	/*filter:hue-rotate(45deg);
	/*filter:blur(10px);*/
	/*filter: grayscale(10);*/
}
@media all and (max-width: 1024px) {
	.img-box{
		width: 90%;
		column-count: 3;
	}
}

@media all and (max-width: 768px) {
	.img-box{
		width: 100%;
		column-count: 2;
	}
}

@media all and (max-width: 480px) {
	.img-box{
		width: 100%;
		column-count: 1;
	}
}